<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Stupid Movie Picker</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
  <div class="center-div container">
    <table class="table">
      <tr>
        <td>
          <div class="c">
          <picture>
            <source media="(min-width=760px)" srcset="<%= movie[:poster_big] %>">
            <img class="img-fluid rounded d-block mx-auto" src="<%= movie[:poster] %>">
          </picture>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="c">
          <%= movie[:name] %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="c">
          <a class="btn btn-outline-secondary" role="button" href="<%= movie[:link] %>" target="_blank">Страница на КиноПоиске</a>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="c">
          <form action="">
            <input class="btn btn-secondary" type="submit" value="Pick another film!">
          </form>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>